# Meta Conversions API
META_DATASET_ID=your_pixel_dataset_id_here
META_ACCESS_TOKEN=your_system_user_access_token_here
META_TEST_EVENT_CODE=TEST76882   # удали эту строку в продакшене

# Убрать в проде — только для тестирования
